body {
  font-family: 'Inter', sans-serif;
}
//variabel css used in pagination
:root {
  --pref: 'Previous';
  --padding: 10px;
  --next: 'Next';
}
//  disable vuetify uppercase
// set all font into 'Inter'
* {
  text-transform: none !important;
  font-family: 'Inter', sans-serif !important;
}
.title {
  font-size: 20px !important;
  font-weight: bold !important;
}
// .input-border {
//   border: 1px solid #d0d5dd;
//   border-radius: 8px !important;
// }

// .input-border-dashed {
//   border: 3px dashed #d0d5dd;
//   border-radius: 8px !important;
// }

// .input-disabled {
//   background: #f9fafb !important;
// }

.text-error {
  color: red;
  font-size: 12px;
  position: absolute;
}

.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
  max-height: 60% !important;
}

.border-red {
  border: 1px solid red;
}
.full-width-height {
  width: 100% !important;
  height: 100% !important;
}
