body {
  font-family: 'Inter', sans-serif;
}
//variabel css used in pagination
:root {
  --pref: 'Previous';
  --padding: 10px;
  --next: 'Next';
}
//  disable vuetify uppercase
// set all font into 'Inter'
* {
  text-transform: none !important;
  font-family: 'Inter', sans-serif !important;
}
.title {
  font-size: 20px !important;
  font-weight: bold !important;
}
.input-border {
  border: 1px solid #d0d5dd;
  border-radius: 8px !important;
}

.input-border-dashed {
  border: 3px dashed #d0d5dd;
  border-radius: 8px !important;
}

.input-disabled {
  background: #f9fafb !important;
}

.text-error {
  color: red;
  font-size: 12px;
  position: absolute;
}

.icon-outlet {
  color: #667085;
  height: 19px;
  width: 18px;
}
.select-outlet {
  font-size: 16px !important;
  color: #101828 !important;
}
.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
  max-height: 60% !important;
}
.v-btn {
  letter-spacing: 0 !important;
}
