@use '../abstracts/variables' as v;

// @import '~sweetalert2/src/sweetalert2';

.__nuxt-error-page {
  .error {
    max-width: 1080px;
    flex-direction: column;
    background-color: #f7f8fb !important;
    border-color: #f7f8fb !important;
  }
}
