@use '../abstracts/variables' as v;

.__nuxt-error-page {
  .error {
    max-width: 1080px;
    flex-direction: column;
    background-color: #f7f8fb !important;
    border-color: #f7f8fb !important;
  }
}
.v-input {
  align-items: center !important;
}
.v-input__prepend-inner {
  margin: auto !important;
}
.v-input input {
  color: v.$gray_500 !important;
}
.v-input__slot {
  border-radius: 8px !important;
}
// input text fields
.v-text-field--outlined:not(.v-input--is-focused, .error--text)
  > .v-input__control
  > .v-input__slot
  fieldset {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
// input text focused
.v-text-field--outlined.v-input--is-focused:not(.error--text)
  > .v-input__control
  > .v-input__slot
  fieldset {
  border: 1px solid #d6bbfb;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
  border-radius: 8px;
}
// input text details
.v-text-field__details {
  margin-bottom: 0 !important;
}

.v-image__image--preload {
  filter: none !important;
}

.v-btn:not(.v-app-bar__nav-icon):not(.v-btn--fab) {
  letter-spacing: 0 !important;
  border-radius: 8px !important;
}
.v-btn--outlined:not(.v-app-bar__nav-icon):not(.v-btn--fab) {
  letter-spacing: 0 !important;
  border-radius: 8px !important;
  border: 1px solid #d0d5dd !important;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
}
