$primary: #da4646;
$black: #344054;
$table: #16191d;
$secondary: #667085;
$accent: #d0d5dd;
$success: #1bbf70;
$neutral-70: #818385;
$info: #2881e9;
$gray_100: #f2f4f7;
$gray_300: #d0d5dd;
$gray-700: #344054;

$date-picker-table-active-date-color: #ffe3e8 !important;
