$primary: #7f56d9;
$primary_50: #f9f5ff;
$primary_100: #f4ebff;
$primary_300: #d6bbfb;
$black: #344054;
$table: #16191d;
$secondary: #667085;
$accent: #d0d5dd;
$success: #1bbf70;
$neutral-70: #818385;
$info: #2881e9;
$gray_50: #f9fafb;
$gray_100: #f2f4f7;
$gray_200: #eaecf0;
$gray_300: #d0d5dd;
$gray_400: #98a2b3;
$gray_500: #667085;
$gray_700: #344054;
$gray_900: #101828;

$error: #f04438;
$error_50: #fef3f2;
$error_100: #fee4e2;
$error_600: #d92d20;
$error: #f04438;
$success: #32d583;

$date-picker-table-active-date-color: #ffe3e8 !important;
